@charset "UTF-8";
/* Змінні */
:root {
  --items: 3;
  --indent: 30px;
  --background-color: #9DA4BD;
  --accent-color: #FF6C00;
  --primary-text-color: #ffffff;
  --secondary-text-color: #9da4bd;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contacts, .works, .masters, .benefits, .price, .about {
  padding-top: 130px;
  padding-bottom: 130px;
}

body {
  background-color: #ffffff;
  color: #555555;
  font-family: "Open Sans", sans-serif;
  /* font-weight: 400; за змовчуванням*/
  font-size: 18px;
  /* font-style: normal; за змовчуванням */
}

/* Reset */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  /* width: 100%; */
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: inherit;
}

/* Сітка із застосуванням флексбоксу */
.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}
.card-set__item {
  -ms-flex-preferred-size: calc((100% - var(var(--indent)) * var(--items)) / var(--items));
      flex-basis: calc((100% - var(var(--indent)) * var(--items)) / var(--items));
}

/* Стилізація кнопки */
.button {
  padding: 12px 20px;
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: background-color 250ms linear, color 250ms linear;
  transition: background-color 250ms linear, color 250ms linear;
}
.button:hover, .button:focus {
  background-color: var(--accent-color);
}
.button--mode-light {
  color: #303030;
}
.button--mode-dark {
  color: #FFFFFF;
}
.button--mode-light:hover, .button--mode-light:focus {
  color: #ffffff;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.networks {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.networks:hover, .networks:focus {
  color: var(--accent-color);
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-media__item:not(:last-child) {
  margin-right: 10px;
}
.social-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  border-radius: 50%;
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
  color: #303030;
}
.social-media__icon {
  fill: currentColor;
}

.subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.subtitle--mode-light {
  color: #303030;
}
.subtitle--mode-dark {
  color: rgba(157, 164, 189, 0.6);
}
.subtitle::before {
  content: "";
  margin-right: 20px;
  width: 60px;
  height: 1px;
  display: inline-block;
  background-color: #303030;
}

.title {
  font-family: "Raleway", sans-serif;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.title--mode-light {
  color: #303030;
}

.slider {
  position: absolute;
  top: 50%;
  right: 55px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--primary-text-color);
}

.slider__item {
  margin-bottom: 12px;
  margin-left: auto;
  width: 8px;
  height: 2px;
  background-color: var(--background-color);
}
.slider__item:last-child {
  margin-bottom: 0;
}
.slider__item--current {
  width: 18px;
  background-color: #FFFFFF;
}

.slider__controls {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 40px;
  right: 55px;
}

.slider__btn {
  padding: 8px 0;
  min-width: 60px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.slider__btn--back {
  text-align: left;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  border: none;
  cursor: pointer;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
}
.slider__btn--forward {
  text-align: right;
  letter-spacing: 0.1em;
  color: var(--primary-text-color);
  border-bottom: 1px solid #FFFFFF;
}

.backdrop {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 400px;
  height: 500px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.25);
          transform: translate(-50%, -50%) scale(1.25);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.btn-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 6px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover .btn-icon, .btn-close:focus .btn-icon {
  fill: var(--accent-color);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__text {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--text-color);
}

.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--paragraph-color);
  text-align: left;
}

.form__input {
  position: relative;
  cursor: pointer;
  padding-left: 15px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  border-color: var(--accent-color);
  outline: 1px solid var(--accent-color);
}

.form__comment {
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__comment:focus {
  border-color: var(--accent-color);
  outline: 1px solid var(--accent-color);
}
.form__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__btn {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* Section Navigation */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(85, 85, 85, 0.7);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.logo {
  margin-right: 71px;
  margin-left: 18px;
}

.nav {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  position: relative;
}
.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__link,
.nav__item {
  padding-top: 12px;
  padding-bottom: 12px;
}

.nav__link {
  color: var(--primary-text-color);
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
.nav__link--current {
  color: var(--accent-color);
}
.nav__link--current::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.nav__group {
  margin-left: auto;
}

.header__btn {
  margin-left: 40px;
}

/* Section Hero */
.hero {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  height: 656px;
  background-color: #191C26;
  background-image: url(../../images/hero/bcg-img\ 3.jpg), linear-gradient(to right, #ffffff 155px, rgba(25, 28, 38, 0.2) 155px);
  background-repeat: no-repeat;
  background-position: top right, center;
  background-size: 1085px, contain;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  max-width: 100px;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin-left: 40px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.hero__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__link::before {
  content: "";
  margin-right: 40px;
  width: 60px;
  height: 1px;
  display: inline-block;
  background-color: #303030;
}

.hero__right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 100px;
  padding-top: 262px;
  padding-bottom: 206px;
}

.hero__subtitle {
  margin-bottom: 20px;
}
.hero__subtitle::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.hero__title {
  margin-bottom: 20px;
  font-size: 72px;
  line-height: 1.18;
}

.hero__paragraph {
  width: 470px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/* Section About */
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 60px;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__group {
  width: 500px;
}

.about__subtitle {
  margin-bottom: 20px;
}

.about__title {
  margin-bottom: 20px;
}

.about__paragraph {
  margin-bottom: 20px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.about__descr {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

/* Section price */
.price {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  background-image: url(../../images/price/price-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.price__subtitle {
  margin-bottom: 20px;
}

.price__title {
  margin-bottom: 44px;
}

.price__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.price__list {
  padding: 30px 40px;
  width: 585px;
  height: 240px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.price-card--one {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
  background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-card--two {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#090B13), to(rgba(9, 11, 19, 0.2)));
  background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 6px;
}
.price__item:not(:last-child) {
  margin-bottom: 20px;
}
.price__item::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

.price__descr {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  white-space: nowrap;
}

.price__cost {
  white-space: nowrap;
}

.price__btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* Section Benefits */
.benefits__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__list {
  position: relative;
  width: 600px;
  padding-left: 110px;
}

.benefits__item {
  width: 170px;
  height: 133px;
  background-color: #F7F7F7;
}
.benefits__item:nth-last-of-type(2n) {
  margin-right: 30px;
}
.benefits__item:nth-child(-n+2) {
  margin-bottom: 30px;
}

.benefits__number {
  padding: 20px 45px 6px 45px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  text-align: center;
  color: #303030;
}
.benefits__number--plus {
  top: -1.5em;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent-color);
}

.benefits__text {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
  text-align: center;
}

.benefits__item--50 {
  position: absolute;
  right: 120px;
  top: 35px;
}

.benefits__item--100 {
  position: absolute;
  right: 120px;
  top: 195px;
}

.benefits__descr {
  width: 500px;
}

.benefits__subtitle {
  margin-bottom: 20px;
}

.benefits__title {
  margin-bottom: 20px;
}

.benefits__paragraph {
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* Section Masters */
.masters {
  background-color: #F7F7F7;
}

.masters__subtitle {
  margin-bottom: 20px;
}

.masters__title {
  margin-bottom: 44px;
}

.masters__pic {
  margin-bottom: 30px;
}

.masters__name {
  margin-bottom: 8px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}

.masters__position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* Section Works */
.works__list {
  --items: 4;
}

.works__subtitle {
  margin-bottom: 44px;
}

.card-set__item {
  position: relative;
  overflow: hidden;
}
.card-set__item:hover .card-set__descr, .card-set__item:focus .card-set__descr {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card-set__descr {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 25px 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-text-color);
  background-color: rgba(255, 108, 0, 0.7);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

/* Section Contacts */
.contacts {
  background: #191C26;
  background-image: url(../../images/contacts/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: top 50% left calc(50% + 312px);
  background-size: contain;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__left {
  margin-right: 140px;
}

.contacts__title {
  margin-bottom: 44px;
  opacity: 0.6;
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 44px;
}

.contacts__group {
  position: relative;
  margin-bottom: 44px;
  color: var(--primary-text-color);
}

.contacts__field {
  width: 270px;
  height: 26px;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--primary-text-color);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__field:not(:-moz-placeholder-shown) {
  border-color: #ffffff;
}
.contacts__field:not(:-ms-input-placeholder) {
  border-color: #ffffff;
}
.contacts__field:focus, .contacts__field:not(:placeholder-shown) {
  border-color: #ffffff;
}

.contacts__field--phone {
  width: 260px;
}

.contacts__field:focus:invalid:not(:-moz-placeholder-shown), .contacts__field:invalid:not(:-moz-placeholder-shown) {
  border-color: var(--accent-color);
}

.contacts__field:focus:invalid:not(:-ms-input-placeholder), .contacts__field:invalid:not(:-ms-input-placeholder) {
  border-color: var(--accent-color);
}

.contacts__field:focus:invalid:not(:placeholder-shown),
.contacts__field:invalid:not(:placeholder-shown) {
  border-color: var(--accent-color);
}

.contacts__field:focus:valid:not(:-moz-placeholder-shown), .contacts__field:valid:not(:-moz-placeholder-shown) {
  border-color: #008000;
}

.contacts__field:focus:valid:not(:-ms-input-placeholder), .contacts__field:valid:not(:-ms-input-placeholder) {
  border-color: #008000;
}

.contacts__field:focus:valid:not(:placeholder-shown),
.contacts__field:valid:not(:placeholder-shown) {
  border-color: #008000;
}

.contacts__field::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__field::-moz-placeholder {
  font-weight: 600;
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  opacity: 0;
  -moz-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__field:-ms-input-placeholder {
  font-weight: 600;
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  opacity: 0;
  -ms-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__field::-ms-input-placeholder {
  font-weight: 600;
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  opacity: 0;
  -ms-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__field::placeholder {
  font-weight: 600;
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__field::-webkit-input-placeholder:focus::-webkit-input-placeholder {
  opacity: 1;
}
.contacts__field::-moz-placeholder:focus::-moz-placeholder {
  opacity: 1;
}
.contacts__field:-ms-input-placeholder:focus:-ms-input-placeholder {
  opacity: 1;
}
.contacts__field::-ms-input-placeholder:focus::-ms-input-placeholder {
  opacity: 1;
}
.contacts__field::placeholder:focus::placeholder {
  opacity: 1;
}

.contacts__label {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 600;
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__field:not(:-moz-placeholder-shown) + .contacts__label {
  transform: translateY(-200%);
  color: #ffffff;
}

.contacts__field:not(:-ms-input-placeholder) + .contacts__label {
  transform: translateY(-200%);
  color: #ffffff;
}

.contacts__field:focus + .contacts__label,
.contacts__field:not(:placeholder-shown) + .contacts__label {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  color: #ffffff;
}

.contacts-messanger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}

.contacts-messange__textarea {
  resize: none;
  width: 560px;
}

.contacts-messange__comment {
  position: absolute;
  top: -30%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 600;
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-messange__textare:not(:-moz-placeholder-shown) + .contacts-messange__comment {
  transform: translateY(-200%);
  color: var(--primary-text-color);
}

.contacts-messange__textare:not(:-ms-input-placeholder) + .contacts-messange__comment {
  transform: translateY(-200%);
  color: var(--primary-text-color);
}

.contacts-messange__textarea:focus + .contacts-messange__comment,
.contacts-messange__textare:not(:placeholder-shown) + .contacts-messange__comment {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  color: var(--primary-text-color);
}

.contacts__btn {
  width: 160px;
}

.contacts__title--right {
  color: var(--primary-text-color);
}

.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__item:last-child {
  margin-bottom: 66px;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  font-style: normal;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
  stroke: var(--secondary-text-color);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  margin-right: 16px;
  fill: currentColor;
  stroke: currentColor;
}

.contacts__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.contacts__time::before {
  content: "";
  display: inline-block;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.4);
}

.contacts__timetable {
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

/* Footer */
.footer {
  background: #F7F7F7;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer__copyright {
  margin-left: 40px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-text-color);
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item {
  margin-right: 30px;
}
.footer__item--instagram::before {
  content: "";
  margin-right: 20px;
  width: 60px;
  height: 1px;
  display: inline-block;
  background-color: #303030;
}

.footer__item--instagram,
.footer__item--youtube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}/*# sourceMappingURL=main.css.map */