body {
    background-color: #ffffff;
    color: #555555;
    ;
    font-family: 'Open Sans', sans-serif;
    /* font-weight: 400; за змовчуванням*/
    font-size: 18px;
    /* font-style: normal; за змовчуванням */
}