/* Section Masters */
.masters {
    @extend %section;
    background-color: #F7F7F7;
}

.masters__subtitle {
    margin-bottom: 20px;
}

.masters__title {
    margin-bottom: 44px;
}

.masters__pic {
    margin-bottom: 30px;
}

.masters__name {
    margin-bottom: 8px;

    line-height: 1.38;
    text-align: center;
    letter-spacing: 0.02em;
    color: #303030;
}

.masters__position {
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

